
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OlgaSpaModule.Appoinments.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new OlgaSpaWebSite.OlgaSpaModule.AppoinmentsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>